<!Doctype HTML>
<html>
<head>
<h2>Some Quotes About Education</h2>
</head>
<body>
<p>
In some parts of the world, students are going to school every day. It's their normal life. But in other part of the world, we are starving for education... it's like a precious gift. It's like a diamond. 
<br/>
"Malala Yousafzai"
</p>

<p>
Today's students can put dope in their veins or hope in their brains. If they can conceive it and believe it, they can achieve it. They must know it is not their aptitude but their attitude that will determine their altitude. 
"Jesse Jackson"

</p>
<table>
<% if admin? %>
<tr>
<td><a href="/logout_view"><button type="button">Menu</a></td></tr>
<tr><td><button><a href="/logout">LOGOUT</a></button></td></tr>
<%else%>
<a href="/"><button type="button">Menu</a>
<% end %>
</table>
</body>
</html>


