<h1>Comment Details</h1>

  <ul>
  Comment ID: <%= @comments.comment_id %><br/>
  Comment Creator: <%= @comments.comment_creator %><br/>
  Comment: <%= @comments.comment %><br/>
  Created At: <%= @comments.created_at %><br/>
  </ul>
  
   <table>
<% if admin? %>
<tr>
<td><a href="/logout_view"><button type="button">Menu</a></td></tr>
<tr><td><button><a href="/logout">LOGOUT</a></button></td></tr>
<%else%>
<a href="/"><button type="button">Menu</a>
<% end %>
</table>