<h1>Edit Student</h1>
<table>
<% if admin? %>
<tr>
<td><a href="/logout_view"><button type="button">Menu</a></td></tr>
<tr><td><button><a href="/logout">LOGOUT</a></button></td></tr>
<%else%>
<a href="/"><button type="button">Menu</a>
<% end %>
</table>