<!Doctype HTML>
<html>
<head>
<h1>Welcome</h1>
</head>
<body>
<div>
In its widest use, student is used for anyone who is learning, including mid-career adults who are taking vocational education or returning to university. 
</div>

<div>
<p>Students who are repeating a grade level of schooling due to poor grades are sometimes referred to as having been "held back" or "kept back". In Singapore they are described as "retained". In the Philippines they are called "repeater".</p>
<p>The term 'pupil' (originally a Latin term for a minor as the ward of an adult guardian, etc.) is used in some Commonwealth primary and secondary schools (particularly in England and Wales) instead of "student", but once attending further education (at a sixth-form college) or higher education (at university for example), the term "student" is standard. The term pupil is also used in the Philippines by the Department of Education to refer to learners currently in elementary school; the term student is used for by the Department of Education for learners in high school.</p>
<p>The United States military academies officially use only numerical terms, but there are colloquial expressions used in everyday speech. In order from first year to fourth year, students are referred to as "fourth-class", "third-class", "second-class", and "first-class" cadets or midshipmen. Unofficially, other terms are used, for example at the United States Military Academy, freshmen are called "plebes", sophomores are called "yearlings" or "yuks", juniors are called "cows", and seniors are called "firsties". Some universities also use numerical terms to identify classes students enter as "first-years" and graduate as "fourth-years" (or, in some cases, "fifth-years", "sixth-years", etc.).</p>
</div>
<table>
<% if admin? %>
<tr>
<td><a href="/logout_view"><button type="button">Menu</a></td></tr>
<tr><td><button><a href="/logout">LOGOUT</a></button></td></tr>
<%else%>
<a href="/"><button type="button">Menu</a>
<% end %>
</table>
</body>
</html>

