<head>
<style>
body {background-color: whitesmoke;};
h1   {color: slategrey;}
p    {color: red;}
</style>
</head>

<h1 align="center"> HOME </h1>

<br/>
<img src ="/images/adminwelcome.png" height="220" width="700" align="center">
<br/>
<br/>
<br/>
<table align="center">  
  <th><a href = "/home"><button type="button">Home</a></th>
  <th><a href = "/students"><button type="button">Students_Page</a></th>
  <th><a href = "/comment"><button type="button">Comments_Page</a></th>
  <th><a href = "/about"><button type="button">About</a></th>
  <th><a href = "/contacts"><button type="button">Contacts</a></th>
  <th><a href = "/show_video"><button type="button">Videos</a></th>
  <th><a href = "/logout"><button type="button">Logout</a></th>
 </table> 