<style>
body {background-color: aliceblue;};
</style>
<img src ="/images/studentportal1.jpg" height="220" width="700" align="center">
<br/>
<br/>

<h1 align="center"> Main Menu </h1>
<br/>
<br/>

<table align="center">  
  <th><a href = "/home"><button type="button">Home</a></th>
  <th><a href = "/students"> <button type="button">Students_Page</a></th>
  <th><a href = "/comment"> <button type="button">Comments_Page</a></th>
  <th><a href = "/about"><button type="button"> About</a></th>
  <th><a href = "/contacts"><button type="button"> Contacts</a></th>
  <th><a href = "/show_video"><button type="button">Videos</a></th>
  <th><a href = "/login"><button type="button">Login</a></th>
</table> 

